@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection {
  background-color: #405fd1;
  /* Yellow */
  color: #fff;
}

.rtl {
  direction: rtl;
}

.text-right {
  text-align: right;
}
.paragraph {
  color: #a8a8a8;
}
.gallery-container {
  height: 70vh;

  /* Adjust as needed */
  overflow-y: scroll;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
  grid-gap: 15px;
  padding: 0.8rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Scrollbar styles for WebKit browsers */
.gallery-container::-webkit-scrollbar {
  width: 12px;
}

.gallery-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #866719;
  /* Track color */
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  /* Thumb color */
  border-radius: 10px;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Thumb color on hover */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #4b28a3, #5b7cf5);
  color: white;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #5b7cf5;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
.backgoundimage {
  background-image: url("/background.png");
}
